<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> be400a7d6b3d8924a747cb01386172a054360258
  <!--hero section start-->
  <section class="hero hero-2">
      <div class="hero__wrapper">
          <div class="container">
              <div class="row align-items-lg-center">
                  <div class="col-lg-6 order-2 order-lg-1">
                      <h1 class="main-heading color-black">Having the cryptocurrency world at your fingertips
                      </h1>
                      <p class="paragraph"><span>Sanr wallet</span> is an extraordinarily swift and secure
                          multi-crypto wallet, aiming to simplify the way users store and retrieve their digital assets.
                      </p>
                      <div class="download-buttons">
                          <a href="#" class="google-play">
                              <i class="fab fa-google-play"></i>
                              <div class="button-content">
                                  <h6>GET IT ON <span>Google Play</span></h6>
                              </div>
                          </a>
                          <a href="#" class="apple-store">
                              <i class="fab fa-apple"></i>
                              <div class="button-content">
                                  <h6>GET IT ON <span>Apple Store</span></h6>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2">
                      <div class="questions-img hero-img">
                          <img src="images/phone-01.png" alt="image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--hero section end-->

  <!--feature section start-->
  <section class="feature" id="intro">
      <div class="container">
          <h2 class="section-heading color-black">WE GIVE YOU THE POWER TO</h2>
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="feature__box feature__box--1">
                      <div class="icon icon-1">
                          <i class="fad fa-user-astronaut"></i>
                      </div>
                      <div class="feature__box__wrapper">
                          <div class="feature__box--content feature__box--content-1">
                              <h3>Exchange On The Go</h3>
                              <p class="paragraph dark">Buy and sell crypto assets from the comfort of your wallet in
                                  seconds once your device has been accessed on the Internet.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="feature__box feature__box--2">
                      <div class="icon icon-2">
                          <i class="fad fa-lightbulb-on"></i>
                      </div>
                      <div class="feature__box__wrapper">
                          <div class="feature__box--content feature__box--content-2">
                              <h3>Transfer And Receive </h3>
                              <p class="paragraph dark">Transfer and receive in a safe and secure manner, knowing Sanr
                                  Wallet automatically checks all addresses for errors. </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="feature__box feature__box--3">
                      <div class="icon icon-3">
                          <i class="fad fa-solar-system"></i>
                      </div>
                      <div class="feature__box__wrapper">
                          <div class="feature__box--content feature__box--content-3">
                              <h3>Store Multi-Cryptos</h3>
                              <p class="paragraph dark">Easily and simply store over 120 cryptocurrencies on the wallet,
                                  and be capable of adding others depending on your use. </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="feature__box feature__box--4">
                      <div class="icon icon-4">
                          <i class="fad fa-rocket-launch"></i>
                      </div>
                      <div class="feature__box__wrapper">
                          <div class="feature__box--content feature__box--content-4">
                              <h3>Secure Your Assets</h3>
                              <p class="paragraph dark">As one of the safest wallets available, we have several
                                  high-level security features and standardisation protocols.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--feature section end-->

  <!--video section start-->
  <div class="video" id="video">
      <div class="video__wrapper">
          <div class="container">
              <div class="video__play">
                  <!-- <button type="button" data-toggle="modal" data-target="#videoModal">
            <i class="fad fa-play"></i>
          </button> -->
                  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-close">
                                  <button type="button" data-dismiss="modal" aria-label="Close">
                                      <i class="fas fa-times"></i>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <iframe src="https://www.youtube.com/embed/2BrCE_zxM0U"
                                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                      allowfullscreen></iframe>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="video__background">
                  <img src="images/video-bg-1.png" alt="image" class="texture-1">
                  <img src="images/video-img.png" alt="image" class="phone">
                  <img src="images/video-bg-2.png" alt="image" class="texture-2">
              </div>
          </div>
      </div>
  </div>
  <!--video section end-->

  <!--step section start-->
  <section class="step">
      <div class="step__wrapper">
          <div class="container">
              <h2 class="section-heading color-black">Render cryptocurrency comprehensible and understandable for
                  everyone</h2>
              <div class="row">
                  <div class="col-lg-4">
                      <div class="step__box">
                          <div class="image">
                              <img src="images/phone-01.png" alt="image">
                          </div>
                          <div class="content">
                              <h3>EASY TO<span>Register.</span></h3>
                              <p class="paragraph dark">Join the app in just a few steps and open the door to the
                                  cryptocurrency world.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="step__box">
                          <div class="image">
                              <img src="images/phone-02.png" alt="image">
                          </div>
                          <div class="content">
                              <h3>SWIFT TO
                                  <span>Sign-in.</span></h3>
                              <p class="paragraph dark">Once you created an account with us you can sign-in as quickly
                                  as a second.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="step__box">
                          <div class="image">
                              <img src="images/phone-03.png" alt="image">
                          </div>
                          <div class="content">
                              <h3>SIMPLE TO<span>Use.</span></h3>
                              <p class="paragraph dark"> Keep simple design a priority as well as enhance user
                                  experience with Sanr Wallet.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="button__wrapper">
                      <a href="#" class="button">
                          <span>GET STARTED <i class="fad fa-long-arrow-right"></i></span>
                      </a>
                      <a href="#" class="button">
                          <span>LEARN MORE <i class="fad fa-long-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--step section end-->



  <!--growth section start-->
  <section class="growth" id="feature">
      <div class="growth__wrapper">
          <div class="container">
              <h2 class="section-heading color-black">Experience our services with top pros
              </h2>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-user-astronaut"></i>
                          </div>
                          <div class="content">
                              <h3>Keep your data confidential </h3>
                              <p class="paragraph dark">Sanr private keys and transaction data on your mobile device are
                                  not allowed to share to any third parties. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-lightbulb-on"></i>
                          </div>
                          <div class="content">
                              <h3>Desktop sync</h3>
                              <p class="paragraph dark">Using your 12-word backup phrase can control your wealth on your
                                  mobile device and sync to your desktop.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-solar-system"></i>
                          </div>
                          <div class="content">
                              <h3>24/7 Human Support </h3>
                              <p class="paragraph dark">We offer 24-hour customer service and provide an online help
                                  desk to get your questions answered, fast. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-backpack"></i>
                          </div>
                          <div class="content">
                              <h3>One touch easy </h3>
                              <p class="paragraph dark">Users can trade their crypto assets in a few taps. Sanr hides
                                  the complicated details while assets are exchanged in seconds.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-rocket-launch"></i>
                          </div>
                          <div class="content">
                              <h3>Friendly and trustworthy</h3>
                              <p class="paragraph dark">Sanr makes it amazing and easy to learn and use cryptocurrencies
                                  without any confusing and complex steps. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="growth__box">
                          <div class="icon">
                              <i class="fad fa-user-astronaut"></i>
                          </div>
                          <div class="content">
                              <h3>Monitor market movement </h3>
                              <p class="paragraph dark">Vivid and clear market cap shall be illustrated on our interface
                                  to help you have a precise look for investment strategy. </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="button__wrapper">
                      <a href="#" class="button">
                          <span>GET STARTED <i class="fad fa-long-arrow-right"></i></span>
                      </a>
                      <a href="#" class="button">
                          <span>LEARN MORE <i class="fad fa-long-arrow-right"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--growth section end-->




  <!--questions section start-->
  <section class="questions" id="faq">
      <div class="questions__wrapper">
          <div class="container">
              <h2 class="section-heading color-black">SOME COMMONLY ASKED QUESTIONS</h2>
              <div class="row align-items-lg-center">
                  <div class="col-lg-6 order-2 order-lg-1">
                      <div id="accordion">
                          <div class="card" id="card-1">
                              <div class="card-header" id="heading-1">
                                  <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1"
                                          aria-expanded="true" aria-controls="collapse-1">
                                          How many coins can Sanr Wallet store?
                                      </button>
                                  </h5>
                              </div>

                              <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">As of the time of writing, Sanr Wallet is able to store over
                                          120 coins and more.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-2">
                              <div class="card-header" id="heading-2">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                          What is a business rules engine?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-3">
                              <div class="card-header" id="heading-3">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                          How are datadirect drivers different?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-4">
                              <div class="card-header" id="heading-4">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                          How do determine agencies compliance?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-5">
                              <div class="card-header" id="heading-5">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                          How are datadirect drivers different?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-6">
                              <div class="card-header" id="heading-6">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                          What is a business rules engine?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-6" class="collapse" aria-labelledby="heading-6"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card" id="card-7">
                              <div class="card-header" id="heading-7">
                                  <h5 class="mb-0 hidden">
                                      <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                                          What are the types of datadirect drivers?
                                      </button>
                                  </h5>
                              </div>
                              <div id="collapse-7" class="collapse" aria-labelledby="heading-7"
                                  data-parent="#accordion">
                                  <div class="card-body">
                                      <p class="paragraph">With increasing calls for government accountability and cost
                                          savings, agencies
                                          are contending with a mountain
                                          of rule and policy changes affecting everything from pensions and benefits, to
                                          client eligibility
                                          and oversight.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2">
                      <div class="questions-img">
                          <img src="images/phone-01.png" alt="image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--questions section end-->

  <!--newsletter section start-->
  <section class="newsletter newsletter-2">
      <div class="newsletter__wrapper">
          <div class="container">
              <div class="row align-items-lg-center">
                  <div class="col-lg-8">
                      <div class="newsletter__info">
                          <h2 class="section-heading color-black">Get in touch with us today.</h2>
                          <div class="comment_form">
                              <div>
                                  <input type="text" placeholder="Name *" class="input-field">
                                  <input type="text" placeholder="Email *" class="input-field">
                                  <input type="text" placeholder="Website" class="input-field">
                              </div>
                              <div>
                                  <textarea placeholder="Write message *" class="input-field"></textarea>
                                  <button class="button"><span>SEND <i
                                              class="fad fa-long-arrow-right"></i></span></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="newsletter__img">
                          <img src="images/newsletter-img-1.png" alt="image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
<<<<<<< HEAD
  <!--newsletter section end-->
=======
  <!--newsletter section end-->
=======
<section id="back-color" class="slider-element revslider-wrap">

    <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric1"
        style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
        <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li style="padding:15px;width:100%" data-index="rs-148" data-transition="zoomout"
                    data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                    data-masterspeed="2000" data-thumb="include/rs-plugin/demos/assets/images/notgeneric_bg1-100x50.jpg"
                    data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-title="Intro" data-description="">


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title  tp-color tp-resizeme rs-parallaxlevel-0"
                        id="slide-148-layer-1" data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['0','0','0','0']" data-lineheight="['100','100','100','100']" data-width="none"
                        data-height="200px" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars"
                        data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
                        style="z-index: 5; white-space: nowrap;font-weight:900">
                        <div class="desktop">
                            <p class="text-shadow">Transform The Lives Of The World’s Unbanked</p>
                        </div>
                        <div class="mobile">
                            <p class="text-shadow">Transform The Lives Of The</p>
                            <p class="text-shadow">World’s Unbanked</p>
                        </div>

                    </div>


                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle tp-color1  tp-resizeme rs-parallaxlevel-0"
                        id="slide-148-layer-4" data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['52','52','52','51']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-lineheight="['30','30','30','30']"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
                        data-splitout="none" data-responsive_offset="on">

                        <div class="desktop">
                            <p class="text-shadow1">Technology is more economical, meaning a higher proportion of
                                individuals have access </p>
                            <p class="text-shadow1"> to the tools needed to benefit from DeFi.</p>
                        </div>
                        <div class="mobile pd-mb">
                            <p class="text-shadow">Technology is more economical, meaning a higher </p>
                            <p class="text-shadow">proportion of individuals have access to the</p>
                            <p class="text-shadow"> tools needed to benefit from DeFi.</p>
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption NotGeneric-Button rev-btn tp-color2 rs-parallaxlevel-0"
                        id="slide-148-layer-7" data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['124','124','124','123']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                        data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                        data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_out="x:inherit;y:inherit;" data-start="2000" data-splitin="none" data-splitout="none"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on" data-responsive="off"
                        style="z-index: 8; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        <ul class="nav navbar-nav navbar-right navbar hover-dropdown scroll">
                            <!-- DROPDOWN -->
                            <li class="dropdown">
                                <a href="#services"><button class="btn btn-md  btn-button  "
                                        style="font-weight: bold;">Our Service</button></a>
                            </li>
                        </ul>
                    </div>



                </li>

            </ul>

        </div>
    </div><!-- END REVOLUTION SLIDER -->

</section>
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-11 text-center">
                <!-- SECTION TITLE -->
                <div class="section-title">
                    <h3 class="parallax-title">WELCOME TO HBS</h3>
                    <div class="bottom-pad">
                        <p class="color-bk">For the foreseeable future, we are all about building blockchain-based
                            decentralized
                            services. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- IMAGE -->
                <img src="images/725.jpg" alt="" width="600" height="650" />
            </div>
            <div class="col-md-6 left-padding-sm">
                <div class="parallax-title">
                    <h6 style="font-weight: bold;">WE HAVE EXPERTISE IN</h6>
                    <h4 class="section-titles">DEFI SERVICES</h4>
                </div>
                <p class="bottom-padding-sm color-bk">Decentralized Finance (DeFi) primarily involves a brand-new
                    monetary system
                    being built on public blockchains.</p>

                <div class="row">
                    <div class="col-md-12">
                        <!-- FEATURE BOX -->
                        <div class="feature-box hv-wrapper">
                            <div class="feature-inner-wrapper">
                                <div class="title-wrapper">
                                    <!-- FEATURE TITLE -->
                                    <h4 class="feature-title"><i class="fas fa-landmark"></i> ABOUT US</h4>
                                </div>
                            </div>
                            <!-- FEATURE DESCRIPTION -->
                            <p class="feature-description color-bk">Hybrid Blockchain Solution (HBS) is a decentralised
                                finance
                                platform operating on the TRON blockchain. At its core, HBS permits the creation of a
                                TRC-20 token called HBSToken.</p>

                        </div>
                        <!-- /.FEATURE BOX -->
                    </div>
                    <div class="col-md-12">
                        <!-- FEATURE BOX -->
                        <div class="feature-box hv-wrapper">
                            <div class="feature-inner-wrapper">
                                <div class="title-wrapper">
                                    <!-- FEATURE TITLE -->
                                    <h4 class="feature-title"><i class="fa fa-file-text"></i> HOW WE WORK</h4>
                                </div>
                            </div>
                            <!-- FEATURE DESCRIPTION -->
                            <p class="feature-description color-bk">As part of the liquidity provider’s job, we choose
                                target
                                tokens/crypto assets to support, determine exchange rates, and rebalance. Besides, we
                                are striving to tackle some of the Defi obstacles.</p>

                        </div>
                        <!-- /.FEATURE BOX -->
                    </div>
                    <div class="col-md-12">
                        <!-- FEATURE BOX -->
                        <div class="feature-box hv-wrapper">
                            <div class="feature-inner-wrapper">
                                <div class="title-wrapper">
                                    <!-- FEATURE TITLE -->
                                    <h4 class="feature-title"><i class="fa fa-crosshairs"></i> OUR VISION</h4>
                                </div>
                            </div>
                            <!-- FEATURE DESCRIPTION -->
                            <p class="feature-description color-bk">In view of the challenges hindering the rise of
                                DeFi. We
                                align our business development with resolving three barriers in Defi, namely liquidity,
                                scalability and interoperability.</p>

                        </div>
                        <!-- /.FEATURE BOX -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="light-bg desktop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <!-- TITLE -->
                <div class="section-title">
                    <h3 class="parallax-title">HBS SERVICES</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <!-- CAROUSEL -->
                <div class="owl-carousel nav-bottom top-bullet  dots-outer dots-mini" data-margin="40">
                    <!-- TESTIMONIAL -->
                    <div class="item client-says  text-center">
                        <div class="no-bottom-padding icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class=" img-responsive img-circle" src="images/2.png" width="35" height="35" alt="1">
                        </div>

                        <div class="testimonial-content">
                            <h5 class="member-details">Liquidity Provider </h5>
                            <p class="member-content">Providing liquidity and earning trading fees on JustSwap
                                in order to contribute to
                                our research and development activities. </p>
                        </div>

                    </div>
                    <!-- TESTIMONIAL -->
                    <div class="item client-says text-center">
                        <div class="icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class=" img-responsive img-circle" src="images/1.png" width="85" height="85" alt="2">
                        </div>
                        <div class="testimonial-content">
                            <h5 class="member-details">Non - ETH DeFi </h5>
                            <p class="member-content">Addressing the scalability issues of Ethereum-based DeFi
                                services and further
                                diversifying the DeFi ecosystem as a whole. </p>
                        </div>
                    </div>
                    <!-- TESTIMONIAL -->
                    <div class="item client-says text-center">
                        <div class="icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class="img-responsive img-circle" src="images/3.png" width="85" height="85" alt="3">
                        </div>
                        <div class="testimonial-content">
                            <h5 class="member-details">Cross-chain Bridges </h5>
                            <p class="member-content">Implementing cross-chain bridges that allow DeFi
                                services across blockchain platforms
                                for the purpose of connecting & interoperating. </p>
                        </div>

                    </div>

                </div>
                <!-- /. CAROUSEL -->
            </div>

        </div>

    </div>
</section>
<section id="services" class="light-bg mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <!-- TITLE -->
                <div class="section-title">
                    <h3 class="parallax-title">HBS SERVICES</h3>
<<<<<<< HEAD

=======
>>>>>>> 76a8fcff98bbba7176787acc6dbcbc4f42ce7f86
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- CAROUSEL -->
                <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1"
                    data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="true"
                    data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3"
                    data-autoplay="true" data-delay="600000">
                    <!-- TESTIMONIAL -->
                    <div class="item client-says  text-center">
                        <div class="no-bottom-padding icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class=" img-responsive img-circle" src="images/2.png" width="35" height="35" alt="1">
                        </div>

                        <div class="testimonial-content">
                            <h5 class="member-details">Liquidity Provider </h5>
                            <p class="member-content">Providing liquidity and earning trading fees on JustSwap
                                in order to contribute to
                                our research and development activities. </p>
                        </div>

                    </div>
                    <!-- TESTIMONIAL -->
                    <div class="item client-says text-center">
                        <div class="icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class=" img-responsive img-circle" src="images/1.png" width="85" height="85" alt="2">
                        </div>
                        <div class="testimonial-content">
                            <h5 class="member-details">Non - ETH DeFi </h5>
                            <p class="member-content">Addressing the scalability issues of Ethereum-based DeFi
                                services and further
                                diversifying the DeFi ecosystem as a whole. </p>
                        </div>
                    </div>
                    <!-- TESTIMONIAL -->
                    <div class="item client-says text-center">
                        <div class="icon-wrapper team-item-img">
                            <!-- ICON -->
                            <img class="img-responsive img-circle" src="images/3.png" width="85" height="85" alt="3">
<<<<<<< HEAD
                        </div>
                        <div class="testimonial-content">
                            <h5 class="member-details">Cross-chain Bridges </h5>
                            <p class="member-content">Implementing cross-chain bridges that allow DeFi
                                services across blockchain platforms
                                for the purpose of connecting & interoperating. </p>
                        </div>

                    </div>
=======
                        </div>
                        <div class="testimonial-content">
                            <h5 class="member-details">Cross-chain Bridges </h5>
                            <p class="member-content">Implementing cross-chain bridges that allow DeFi
                                services across blockchain platforms
                                for the purpose of connecting & interoperating. </p>
                        </div>
>>>>>>> 76a8fcff98bbba7176787acc6dbcbc4f42ce7f86

                    </div>
                    <div class="testimonial-content">
                        <h5 class="member-details">Cross-chain Bridges </h5>
                        <p class="member-content">Implementing cross-chain bridges that allow DeFi
                            services across blockchain platforms
                            for the purpose of connecting & interoperating. </p>
                    </div>
                </div>

            </div>
            <!-- /. CAROUSEL -->
        </div>
    </div>
    </div>
</section>
<section class="theme-bg top-padding-sm no-bottom-padding typo-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bottom-padding-sm animated fadeInLeft visible" data-animation="fadeInLeft">
                <!-- TEXT  -->
                <h2 class="section-block text-center">We’ve provided our services under supervision
                    of our experienced
                    experts.</h2>
            </div>
        </div>
    </div>
</section>
<section id="plans" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <!-- TITLE -->
                <div class="section-title">
                    <h3 class="parallax-title">INVESTMENT PLANS</h3>
                    <p>

                        Given the many opportunities for investment, there are six investment packages. Put 10% or so of
                        your portfolio on it. Make the idea count.<br> Good investment ideas should not be diversified
                        away
                        into meaningless oblivion.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- CAROUSEL -->
                <div class="owl-carousel nav-bottom top-bullet dots-dark dots-outer dots-mini" data-items="1"
                    data-margin="40" data-loop="true" data-merge="true" data-nav="false" data-dots="true"
                    data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3"
                    data-autoplay="true" data-delay="600000">
                    <!-- TESTIMONIAL 1 -->
                    <div class="item client-says boxed-layout text-center ">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class=" img-responsive" src="images/hbs package-01.png"
                                width="150" height="100" alt="1">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">None<br>

                                Total Return: 0</p>
                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                    <!-- TESTIMONIAL 2 -->
                    <div class="item client-says boxed-layout text-center">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class=" img-responsive" src="images/hbs package-02.png"
                                width="85" height="85" alt="2">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">Mon to Sat<br>

                                Total Return: 172% </p>
                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                    <!-- TESTIMONIAL 3 -->
                    <div class="item client-says boxed-layout text-center">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class="img-responsive " src="images/hbs package-03.png"
                                width="100" height="100" alt="3">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">Mon to Sat<br>

                                Total Return: 184%</p>

                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                    <!-- TESTIMONIAL 4 -->
                    <div class="item client-says text-center boxed-layout">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class="img-responsive " src="images/hbs package-04.png"
                                width="100" height="100" alt="4">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">Mon to Sat<br>

                                Total Return: 196% </p>
                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                    <!-- TESTIMONIAL 5 -->
                    <div class="item client-says text-center boxed-layout">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class="img-responsive " src="images/hbs package-05.png"
                                width="100" height="100" alt="5">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">Mon to Sat<br>

                                Total Return: 208% </p>
                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                    <!-- TESTIMONIAL 6 -->
                    <div class="item client-says text-center boxed-layout">
                        <div>
                            <!-- ICON -->
                            <img style="padding-top: 50px;" class="img-responsive " src="images/hbs package-06.png"
                                width="100" height="100" alt="6">
                        </div>
                        <div class="testimonial-content">

                            <p class="member-content">Mon to Sat<br>

                                Total Return: 220%</p>
                            <a href="trades-stocks.html"
                                class="custom-btn btn btn-12"><span>Click!</span><span>PURCHASE</span></a>
                        </div>

                    </div>
                </div>
                <!-- /. CAROUSEL -->
            </div>
        </div>
    </div>
</section>
<!-- EVENTS SECTION -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 bottom-padding-sm">
                <!-- TEXT  -->
                <h2 class="bottom-line text-uppercase">MEET THE TEAM</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center">
                <div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
                    <!-- IMAGE -->
                    <div class="feature-image">
                        <img class="img-responsive" src="images/ceo.jpg" width="560" height="360" alt="image11">

                    </div>
                    <div class="feature-text text-center min-height">
                        <!-- TITLE -->

                        <h4 >MARCUS POH</h4>
                        <h6>C.E.O</h6>
                        <!-- TEXT -->
                        <p class="text-justify">He is a dynamic, diligent and independent individual who has experience
                            working in both the civil service and the private sector. Marcus was involved in the day to
                            day operations of PUB as well as lead teams to grow the Singapore industry through
                            interactions with Singapore companies, foreign governments.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
                    <!-- IMAGE -->
                    <div class="feature-image">
                        <img class="img-responsive" src="images/engineer.jpg" width="560" height="360" alt="image-4" />

                    </div>
                    <div class="feature-text text-center min-height">
                        <!-- TITLE -->

                        <h4>ELIAS BUSER</h4>
                        <h6>ENGINEER LEAD</h6>
                        <!-- TEXT -->
                        <p class="text-justify">Seasoned full stack engineer in both Solidity and Java. He has been working
                            intensively on a broad range of decentralised applications, championing the notion of
                            transparency and security in finance-related services. Elias is now leading HBS in building
                            scalable Decentralised Finance Services.</p>


                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class=" feature-box style-6 rounded white-bg no-top-margin no-bottom-margin">
                    <!-- IMAGE -->
                    <div class="feature-image ">
                        <img class="img-responsive" src="images/strategy.jpg" width="560" height="360" alt="image-5" />

                    </div>
                    <div class="feature-text text-center min-height">
                        <!-- TITLE -->
                        <h4>JONAS HARTMANN</h4>
                        <h6>STRATEGY LEAD</h6>
                        <!-- TEXT -->
                        <p class="text-justify">Experienced crypto startup advisor. He has lent his expertise to a number of
                            cryptocurrency related startups, which all benefit tremendously from his insights. Jonas
                            serves as a main architect behind HBS business development, aiming to contribute to the DeFi
                            ecosystem while earning profit in the process.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.CONTAINER -->
</section>
<!-- CONTACT -->

<section id="contact" class="top-padding-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <div class="feature-box style-3">
                        <h3 style="text-align:center">Any Question?</h3>

                        <div class="inner-wrapper">
                            <!-- ADDRESS -->
                            <p style="text-align:center" class="feature-description color-bk">We aim to offer great
                                customer service. For investment policy and technical support, you can contact HBS
                                support by email.</p>
                        </div>
                    </div>


                    <div class="theme-bg typo-light top-margin-sm">
                        <blockquote style="text-align: center;">Your are our priority and we have power that brings
                            smile on your face
                        </blockquote>
                    </div>


                </address>
            </div>
            <div class="col-sm-8">
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form">
                    <!-- Form Begins -->
                    <form name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                        <!-- Field 1 -->
                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control"
                                placeholder="Full Name *" />
                        </div>
                        <!-- Field 2 -->
                        <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control"
                                placeholder="Email *" />
                        </div>
                        <!-- Field 3 -->
                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control"
                                placeholder="Message *" rows="4"></textarea>
                        </div>
                        <!-- Button -->

                        <button value="SEND MESSAGE" type="submit">SEND MESSAGE</button>
                    </form>
                    <!-- Form Ends -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ADDRESS SECTION -->
</div>
>>>>>>> 124069070050f1bdde1c3a3314c55565add480bf
>>>>>>> be400a7d6b3d8924a747cb01386172a054360258
